<!DOCTYPE html>
<html>
	<head>
		<title>SimpleBlog</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<!--<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="admin-topbar pure-g">
			<div class="pure-u-1-2">
				<span class="admin-brand">
					<%= link_to "Dashboard", admin_root_path %>
				</span>
			</div>
			<div class="pure-u-1-2 u-pull-right">
				<% if controller?("admin/articles") && action?("new") %>
				<%= link_to "New Article", "#", id: "new_article_btn", class: "admin-spacer pure-button pure-button-primary pure-button-disabled" %>
			<% else %>
				<%= link_to "New Article", new_admin_article_path, id: "new_article_btn", class: "admin-spacer pure-button pure-button-primary" %>
			<% end %>
				<%= link_to 'Sign out', sign_out_path, method: :delete, class: "pure-button button-warning" %>
			</div>
		</div>

		<div class="pure-g">

			<% flash.each do |key, value| %>
				<div class="flash <%= key %> pure-u-1"><%= value %></div>
			<% end %>

			<div class="content pure-u-1">
				<%= yield %>
			</div>
		</div>
	</body>
</html>
