<!DOCTYPE html>
<html>
	<head>
		<title>SimpleBlog</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<!--<![endif]-->
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body>


		<div class="pure-g">
			<div class="site-header pure-u-1">
				<div class="site-logo">
					<h1><%= link_to "Simple Blog", root_path %></h1>
				</div>
				<div class="header-nav">
					<ul> 
						<li><a href="#">About</a></li>
						<li><%= link_to "Articles", articles_path %></li>
						<li><a href="#">Something</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>
			</div>
			<% flash.each do |key, value| %>
				<div class="flash <%= key %> pure-u-1"><%= value %></div>
			<% end %>
		</div>
		<div class="pure-g">
			<%= yield %>
		</div>
	</body>
</html>
